<footer class="js-animate">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>G Residence</h3>
                    <ul>
                        <li><a href="/#about">O Projektu</a></li>
                        <li><a href="/#lokalita">Lokalita</a></li>
                        <li><a href="/cenik">Ceník</a></li>
                        <li><a href="/#galerie">Galerie</a></li>
                        <li><a href="/standardy">Standardy</a></li>
                        <li><a href="/#contact">Kontakt</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Co je potřeba vědět</h3>
                    <ul>
                        <li><a href="/#conditions-popup">Zásady ochrany osobních údajů</a></li>
                        <li><a href="/prukaz.pdf" target="_blank">Energetický štítek budovy</a></li>
                        <li><a href="/standardy">Standardy projektu</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Kontakt na nás</h3>
                    <p>
                        <a href="#">Kontaktní formulář</a>
                        <br><a href="mailto:info@getberg.cz">info@getberg.cz</a>
                        <br><a href="tel:220873614">+420 220 873 614</a>
                    </p>
                </div>
                <div class="col last">
                    <h3>GETBERG</h3>
                    <p>Smrčkova 2485/4
                        <br>Praha 8 - Libeň
                        <br>180 00
                        <br>Česká Republika</p>
                    <div class="social">
                        <a href="https://www.facebook.com/getberg/" target="_blank">
                            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square" class="svg-inline--fa fa-facebook-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path></svg>
                        </a>
                        <a href="https://www.instagram.com/getberg.cz/" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
                        </a>
                        <a href="https://www.linkedin.com/company/getberg/" target="_blank">
                            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" class="svg-inline--fa fa-linkedin fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg>                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="row">
                <p style="font-size: smaller;">Uveřejněné vizualizace a jiná vyobrazení na webových stránkách a dalších materiálech jsou pouze ilustrační. Mohou se měnit, jsou nezávazné a nepředstavují nabídku ani návrh na uzavřené smlouvy.</p>
            </div>

            <a href="https://getberg.cz/cs/" target="_blank"><img src="/images/loga-footer/getberg.svg" alt=""></a>
<!--            <a href="#"><img src="/images/loga-footer/g-residence.svg" alt=""></a>-->
            <a href="https://getberg.cz/cs/projects/modry-platan/" target="_blank"><img src="/images/loga-footer/modry.svg" alt=""></a>
            <a href="https://blackroofs.cz/" target="_blank"><img src="/images/loga-footer/black-roofs.svg" alt=""></a>
<!--            <a href="#"><img src="/images/loga-footer/investments.svg" alt=""></a>-->
        </div>
    </div>
</footer>

<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>

<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>


<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="/js/jquery.sticky.js"></script>
<script type="text/javascript" charset="utf8" src="/js/jquery.zoom.min.js"></script>
<script src="/js/jquery.malihu.PageScroll2id.js" type="text/javascript"></script>
<script src="/js/remodal.js" type="text/javascript"></script>
<script src="/js/slick.min.js" type="text/javascript"></script>
<script src="/js/skrollr.min.js" type="text/javascript"></script>
<script src="/js/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<script src="/js/map.js" type="text/javascript"></script>
<script src="/js/customTrack.js" type="text/javascript"></script>
<script src="/js/numscroller-1.0.js" type="text/javascript"></script>
<script src="/js/global.js?v=1" type="text/javascript"></script>
