<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2KHDNL"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
    <div class="container">
        <a href="/"><img class="logo" src="/images/logo.svg" alt=""/></a>
        <a href="/"><img class="logo logo-white" src="/images/logo-white.svg" alt=""/></a>
        <div class="right">
            <a class="navigation-link-mobile" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
            <nav>
                <ul class="menu">
                    <li><a href="/#about" class="menu-link">O Projektu</a></li>
                    <li><a href="/#lokalita" class="menu-link">Lokalita</a></li>
                    <li><a href="/dum" class="menu-link">Nabídka bytů</a></li>
                    <li><a href="/cenik?only_available=1" class="menu-link">Ceník</a></li>
                    <li><a href="/#galerie" class="menu-link">Galerie</a></li>
                    <li><a href="/standardy" class="menu-link">Standardy</a></li>
                    <li><a href="/#contact" class="menu-link">Kontakt</a></li>
                    <!--<li><a href="#" class="menu-link language">CZ</a></li>-->
                </ul>
            </nav>
        </div>
    </div>
</header>
