<head>
    <title>G Residence</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/css/remodal.css" />
    <link rel="stylesheet" type="text/css" href="/css/remodal-default-theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/colorbox.css" />
    <link rel="stylesheet" type="text/css" href="/css/extra.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css" />


    <link rel="stylesheet" type="text/css" href="/css/global.css?v=1" />

    <link href="/favicon.ico" rel="icon" type="image/x-icon" />

    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
    <![endif]-->

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/colors.css" />

    <style type="text/css">
        .section-pricelist .dataTables_wrapper .dataTables_info,
        .section-pricelist .dataTables_wrapper .dataTables_paginate {
            display: none;
        }
        .zoomImg {
            background: #fff;
        }

    </style>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W2KHDNL');</script>
    <!-- End Google Tag Manager -->

    <!-- Hotjar Tracking Code for https://gresidence.cz/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1595767,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

</head>
