<div class="remodal" data-remodal-id="terms-popup">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>ODMÍTNUTÍ ODPOVĚDNOSTI
        <br>SOUHLAS SE ZPRACOVÁNÍM OSOBNÍCH ÚDAJŮ
    </h2>
    <p>Zaškrtnutím tohoto pole uděluji společnosti GETBERG real estate s.r.o., IČO: 291 39 643, se sídlem Smrčkova 2485/4, Libeň, 180 00 Praha 8, zapsané v obchodním rejstříku vedeném Městským soudem v Praze, oddíl C, vložka 203127, e-mailový kontakt: … (dále jen „GETBERG real estate s.r.o.“), která je ve smyslu obecného nařízení o ochraně osobních údajů a zákona o zpracování osobních údajů správcem osobních údajů, souhlas ke zpracování mých osobních údajů, které jsem vyplnil výše v tomto formuláři, pro účely zpracování odpovědi na můj požadavek nebo dotaz uvedený v tomto formuláři a k účelům obchodní a marketingové komunikace a pro statistické účely, a to na dobu neurčitou. Beru na vědomí, že můj souhlas je právním základem pro zpracování těchto osobních údajů a že bez poskytnutí údajů by zpracování odpovědi na můj požadavek nebo dotaz vyplněný v tomto formuláři správcem nebylo možné a nemohla by probíhat ani obchodní a marketingová komunikace mezi správcem a mojí osobou.
        <br><br>Beru na vědomí, že mám zejména právo kdykoli odvolat svůj souhlas ke zpracování a uchování osobních údajů, právo od správce požadovat přístup k osobním údajům, jejich opravu nebo výmaz, vysvětlení nesrovnalostí a informace o přijatých opatřeních, popřípadě omezení zpracování, právo vznést námitku proti jejich zpracování nebo žádat opatření k nápravě a odstranění vzniklého stavu, právo na přenositelnost těchto údajů a právo podat stížnost u Úřadu pro ochranu osobních údajů. Beru na vědomí, že při zpracování osobních údajů nedochází k automatizovanému rozhodování ani k profilování. Správce se zavazuje, že s uvedenými osobními údaji bude nakládat v souladu s právními předpisy upravujícími ochranu osobních údajů.
        <br><br>Zaškrtnutím tohoto pole uděluji společnosti GETBERG real estate s.r.o. souhlas k poskytnutí mých osobních údajů uvedených ve formuláři výše třetím osobám, a to výhradně za účelem zpracování odpovědi na můj požadavek nebo dotaz uvedený v tomto formuláři a k účelům obchodní a marketingové komunikace, přičemž příjemci takových údajů budou společnosti náležející do skupiny GETBERG, zejména sesterské, dceřiné nebo mateřské společnosti společnosi GETBERG real estate s.r.o. Společnost GETBERG real estate s.r.o. nebude předávat údaje do třetích zemí ani mezinárodní organizaci.
        <br><br>Zaškrtnutím tohoto pole uděluji společnosti GETBERG real estate s.r.o. souhlas k zasílání obchodních sdělení v elektronické podobě na můj kontaktní e-mail vyplněný ve formuláři výše ve smyslu zákona o některých službách informační společnosti. Obsahem obchodních sdělení budou zejména informace o nemovitostech a investičních příležitostech zprostředkovávaných společností GETBERG real estate s.r.o. Souhlas je možný kdykoli odvolat, a to i při zaslání každého jednotlivého obchodního sdělení odpovědí na e-mail obsahující obchodní sdělení nebo kliknutím na příslušný odkaz v závěru obchodního sdělení.
        <br><br>Přečetl/a jsem a beru na vědomí Prohlášení o zpracování osobních údajů společnosti GETBERG real estate s.r.o.
    </p>
</div>

<div class="remodal" data-remodal-id="sent">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>Vaše zpráva byla odeslána.</h2>
    <p>Děkujeme.</p>
</div>

<div class="remodal" data-remodal-id="sent-nl">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>Váš e-mail byl uložen.</h2>
    <p>Děkujeme.</p>
</div>


<div class="remodal" data-remodal-id="conditions-popup">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>ZÁSADY OCHRANY OSOBNÍCH ÚDAJŮ</h2>
    <p><strong>PROHLÁŠENÍ O ZPRACOVÁNÍ OSOBNÍCH ÚDAJŮ</strong> Tyto podmínky provozovatele Internetových stránek www.getberg.cz, kterým je společnost GETBERG real estate s.r.o., sídlem Smrčkova 2485/4, Libeň, 180 00 Praha 8, IČO: 291 39 643, zapsaná v obchodním rejstříku vedeném Městským soudem v Praze, oddíl C, vložka 203127, (dále jen „Provozovatel“), obsahují informace související se zpracováním osobních údajů, které jsou zadávány a zpracovávány zejména v souvislosti s využitím služeb zadání dotazu uživatelem, který se prostřednictvím formuláře na internetových stránkách Provozovatele dotazuje na nabídku Provozovatele (dále jen „Uživatel“). Internetové stránky a nabídky Provozovatele a nich zveřejněné nejsou určeny osobám mladším 18 let. Provozovatel prohlašuje, že osobní údaje jsou shromažďovány a je s nimi dále nakládáno dle níže uvedených pravidel v souladu s nařízením Evropského parlamentu a Rady (EU) č. 2016/679 ze dne 27. dubna 2016, o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů), ve znění pozdějších předpisů (dále jen „Nařízení“). <strong>Osobní údaje</strong> Osobní údaje jsou informace, které mohou Uživatele jednoznačně identifikovat, např. jméno a příjmení, telefonní číslo, poštovní nebo e-mailová adresa, IP adresa atd. Provozovatel shromažďuje pouze takové osobní údaje, které mu dá Uživatel vědomě k dispozici. Např. údaje poskytnuté při vyplňování kontaktního formuláře na internetových stránkách Provozovatele. <strong>Automaticky zaznamenávané informace</strong> Při přístupu na internetové stránky Provozovatele se automaticky zaznamenávají neosobní informace – typ internetového prohlížeče, počet návštěv, průměrný čas strávený na stránce, počet navštívených stránek, kdy tyto informace nejsou osobními údaji. Na základě těchto informací jsou tvořeny souhrnné anonymizované statistické seznamy a tyto informace jsou použity pro sledování provozu na internetových stránkách Provozovatele a pomocí nich Provozovatel usiluje o zlepšení obsahu a funkčnosti stránek. Statistické seznamy neobsahují osobní údaje umožňující identifikaci jednotlivých Uživatelů. <strong>Účel zpracování osobních údajů</strong> Primárním účelem zpracování osobních údajů je odpověď na dotaz Uživatele, resp. vyřízení jeho požadavku; osobní údaje jsou v tomto případě Provozovatelem uchovány po dobu potřebnou k vyřízení dotazu Uživatele podle charakteru konkrétního dotazu. Při zpracování osobních údajů nedochází k automatizovanému rozhodování ani k profilování. V případě, že dojde k uzavření smlouvy mezi Provozovatelem a Uživatelem, budou osobní údaje užity pro účely plnění těchto smluv (zejm. rezervační smlouva, smlouva o smlouvě budoucí kupní a kupní smlouva nebo smlouva o převodu vlastnictví jednotky), a budou uchovány po dobu trvání těchto smluvních vztahů a následně po dobu 5 (pěti) let, není-li delší doba uchování vyžadována právními předpisy; právním základem pro zpracování je v tomto případě uzavřená smlouva a poskytnutí osobních údajů je smluvním požadavkem. V takovém případě bude právním základem zpracování osobních údajů uzavřená smlouva. V případě, že s tím Uživatel projeví souhlas, budou jeho osobní údaje využity také pro účely obchodní a marketingové komunikace, a to po dobu trvání jeho zájmu o zasílání obchodních sdělení. V takovém případě bude právním základem zpracování osobních údajů souhlas Uživatele. Právním základem zpracování osobních údajů jsou dále oprávněné zájmy Provozovatele (především za účelem evidence smluvních vztahů a statistické účely, za účelem ochrany práv Provozovatele proti protiprávní činnosti včetně IT bezpečnosti, vymáhání pohledávek Provozovatele) a plnění zákonných požadavků (zejména plnění požadavků podle předpisů o ochraně osobních údajů, vedení účetnictví, plnění povinností podle daňových předpisů). <strong>Poskytnutí osobních údajů třetím osobám</strong> Provozovatel se zavazuje, že osobní údaje nebudou předány do třetích zemí ani poskytnuty mezinárodním organizacím nebo třetím osobám s výjimkou následujících příjemců:
        Společnosti náležejících do developerské skupiny GETBERG, tzn. sesterské společnosti Provozovatele a dceřiné společnosti Provozovatele.
        Společnost MAXIMA REALITY, s.r.o., sídlem Havlíčkova 1030/1, Nové Město, 110 00 Praha 1, IČO: 251 49 610, zapsané v obchodním rejstříku vedeném Městským soudem v Praze, oddíl C, vložka 53747 (dále jen „společnost MAXIMA REALITY“)
        Zpracování osobních údajů společností MAXIMA REALITY bude probíhat dle zásad zpracování osobních údajů společnosti MAXIMA REALITY zveřejněných na internetových stránkách www.maxima.cz. <strong>Bezpečnost</strong> Provozovatel zajišťuje bezpečnost osobních údajů, osobní údaje jsou svědomitě chráněny před ztrátou, zničením, zkreslením/falzifikací, manipulací, neoprávněným přístupem či neoprávněným prozrazením. <strong>Oprávnění Uživatelů v souvislosti se zpravováním osobních údajů</strong> Uživatel má v souvislosti se zpracováním osobních údajů vůči Provozovateli tato práva:
    </p>
    <ul>
        <li>Právo na odvolání souhlasu se zpracováním osobních údajů podle článku 7 odst. 3 Nařízení</li>
        <li>Právo na přístup k osobním údajům dle článku 15 Nařízení</li>
        <li>Právo na opravu osobních údaj dle článku 16 Nařízení</li>
        <li>Právo na výmaz („právo být zapomenut“) dle článku 17 Nařízení</li>
        <li>Právo na omezení zpracování osobních údajů dle článku 18 Nařízení</li>
        <li>Právo na přenositelnost osobních údajů dle článku 20 Nařízení</li>
        <li>Právo vznést námitku u Provozovatele dle článku 21 Nařízení</li>
        <li>Právo podat stížnost u dozorového orgánu, kterým je Úřad na ochranu osobních údajů, dle článku 77 Nařízení</li>
    </ul>
    <p>
        <strong>Kontaktní údaje</strong> Dotazy týkající se ochrany soukromí či zpracování osobních údajů může Uživatel směřovat na e-mailovou adresu Poskytovatele info@getberg.cz, písemně na adresu <strong>Smrčkova 2485/4, Libeň, 180 00 Praha 8</strong> nebo telefonicky na číslo +420 220 873 614
    </p>
</div>

<div class="remodal" data-remodal-id="brozura">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>Přeji si zaslat brožuru</h2>
    <%- include('./_brozura_form') -%>
</div>

<div class="remodal" data-remodal-id="prohlidka">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>Přeji si domluvit prohlídku</h2>
    <%- include('./_prohlidka_form') -%>
</div>
