<!doctype html>
<html>

<%- include('partials/_head') -%>

<body class="header-white-text">

<div class="remodal-bg">

    <%- include('partials/_header') -%>

    <section class="section-standards-intro mb0" style="background-image: url('./images/loznice.jpg')">
        <div class="container">
            <h1>Standardy</h1>
            <p>To nejlepší z&nbsp;hlediska designu i&nbsp;kvality materiálů, ekologická šetrnost a&nbsp;styl, který přetrvá léta. V G&nbsp;Residence máte jistotu, že&nbsp;bydlíte nejen pohodlně, ale&nbsp;také chytře.</p>
        </div>
    </section>

    <section class="section-room-map mb0 js-animate">
        <div class="text">
            <div class="container">
                <h2>Pokoje</h2>
            </div>
        </div>
        <div class="room">
            <img src="./images/pokoj.jpg" alt="">
            <div class="point" style="top: 66%;left: 17.5%;">
                <a href="#" class="point-show-info">1</a>
                <div class="point-info bottom-left">
                    <h3>Výmalba</h3>
                    <p>
                        Dokonalá bělost barvy Primalex Polar rozjasní a opticky zvětší každý prostor.
                    </p>
                    <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
                </div>
            </div>
            <div class="point" style="top: 54%;left: 66.6%;">
                <a href="#" class="point-show-info">2</a>
                <div class="point-info top-right">
                    <h3>Dveře</h3>
                    <p>
                        Kvalitní dveře Sapeli mají vnitřní povrch z materiálu, který dobře snáší provoz s dětmi i domácími mazlíčky.
                    </p>
                    <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
                </div>
            </div>
            <div class="point" style="top: 58.6%;left: 73.4%;">
                <a href="#" class="point-show-info">3</a>
                <div class="point-info bottom-right">
                    <h3>Vypínače</h3>
                    <p>
                        Elegantní vypínače a zásuvky značka Legrand Niloé v bílé barvě.
                    </p>
                    <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
                </div>
            </div>
            <div class="point" style="top: 90.6%;left: 70.4%;">
                <a href="#" class="point-show-info">4</a>
                <div class="point-info bottom-right">
                    <h3>Podlahy</h3>
                    <p>
                        Voděodolné, antistatické podlahy Pergo s povrchem odolným proti poškození a poškrábání.
                    </p>
                    <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
                </div>
            </div>
        </div>
        <div class="mobile-info">
            <div class="info">
                <h3>1. Výmalba</h3>
                <p>
                    Dokonalá bělost barvy Primalex Polar rozjasní a opticky zvětší každý prostor.
                </p>
                <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
            </div>
            <div class="info">
                <h3>2. Dveře</h3>
                <p>
                    Kvalitní dveře Sapeli mají vnitřní povrch z materiálu, který dobře snáší provoz s dětmi i domácími mazlíčky.
                </p>
                <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
            </div>
            <div class="info">
                <h3>3. Vypínače</h3>
                <p>
                    Elegantní vypínače a zásuvky značka Legrand Niloé v bílé barvě.
                </p>
                <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
            </div>
            <div class="info">
                <h3>4. Podlahy</h3>
                <p>
                    Voděodolné, antistatické podlahy Pergo s povrchem odolným proti poškození a poškrábání.
                </p>
                <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
            </div>
        </div>
    </section>

    <section class="section-room-map mb0 js-animate">
        <div class="text">
            <div class="container">
                <h2>Koupelna</h2>
            </div>
        </div>
        <div class="room">
            <img src="./images/koupelna.jpg" alt="">
            <div class="point" style="top: 70.3%;left: 21.1%;">
                <a href="#" class="point-show-info">1</a>
                <div class="point-info bottom-left">
                    <h3>Baterie</h3>
                    <p>
                        Umyvadlová baterie Miva.
                    </p>
                    <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
                </div>
            </div>
            <div class="point" style="top: 74.8%;left: 34.2%;">
                <a href="#" class="point-show-info">2</a>
                <div class="point-info bottom-left">
                    <h3>Umyvadlo</h3>
                    <p>
                        Osvědčené umyvadlo Deep by Jika s příjemně zaoblenými hranami.
                    </p>
                    <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
                </div>
            </div>
            <div class="point" style="top: 83.9%;left: 53.1%;">
                <a href="#" class="point-show-info">3</a>
                <div class="point-info bottom-left">
                    <h3>Toaleta</h3>
                    <p>
                        Závěsné WC Deep by Jika. Čisté linie, kvalita bez kompromisů.
                    </p>
                    <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
                </div>
            </div>
            <div class="point" style="top: 41.5%;left: 43.3%;">
                <a href="#" class="point-show-info">4</a>
                <div class="point-info top-left">
                    <h3>Obklady</h3>
                    <p>
                        V bytech najdete obklady Rako Florencie.
                    </p>
                    <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
                </div>
            </div>
            <div class="point" style="top: 93.4%;left: 72.1%;">
                <a href="#" class="point-show-info">5</a>
                <div class="point-info bottom-right">
                    <h3>Dlažba</h3>
                    <p>
                        Odolná a kvalitní dlažba od společnosti Rako. Vyvinutá pro intenzivní používání.
                    </p>
                    <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
                </div>
            </div>
            <div class="point" style="top: 22.3%;left: 69%;">
                <a href="#" class="point-show-info">6</a>
                <div class="point-info top-right">
                    <h3>Sprcha / Vana</h3>
                    <p>
                        V případě sprchového koutu sprchová vanička Elba z litého mramoru a zástěna Ocean s posuvnými dveřmi. Vana Eurowa ze smaltované oceli.
                    </p>
                    <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
                </div>
            </div>
        </div>
        <div class="mobile-info">
            <div class="info">
                <h3>1. Baterie</h3>
                <p>
                    Umyvadlová baterie Miva.
                </p>
                <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
            </div>
            <div class="info">
                <h3>2. Umyvadlo</h3>
                <p>
                    Osvědčené umyvadlo Deep by Jika s příjemně zaoblenými hranami.
                </p>
                <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
            </div>
            <div class="info">
                <h3>3. Toaleta</h3>
                <p>
                    Závěsné WC Deep by Jika. Čisté linie, kvalita bez kompromisů.
                </p>
                <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
            </div>
            <div class="info">
                <h3>4. Obklady</h3>
                <p>
                    V bytech najdete obklady Rako Florencie.
                </p>
                <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
            </div>
            <div class="info">
                <h3>5. Dlažba</h3>
                <p>
                    Odolná a kvalitní dlažba od společnosti Rako. Vyvinutá pro intenzivní používání.
                </p>
                <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
            </div>
            <div class="info">
                <h3>6. Sprcha / Vana</h3>
                <p>
                    V případě sprchového koutu sprchová vanička Elba z litého mramoru a zástěna Ocean s posuvnými dveřmi. Vana Eurowa ze smaltované oceli.
                </p>
                <a href="#prizpusobeni" class="button blue">Možnosti přizpůsobení</a>
            </div>
        </div>
    </section>

    <section class="section-standards-text mb0" id="prizpusobeni">
        <div class="container">
            <h2>Možnosti přizpůsobení</h2>
            <p>
                Unhošť stavíme tak, aby se vám tam skvěle žilo.
                <br>Víme ale, že každý má jiný vkus, a proto přinášíme možnost přizpůsobit si své vysněné bydlení podle sebe.Chcete vzít zařizování svého budoucího domova od podlahy a máte vlastní představu o místě, kde se vám bude dobře žít?
                <br>Stáhněte si náš katalog spolupracujících studií a podívejte se, že všechno je možné.
                <br>Najdete v něm také užitečné slevy na vybrané vybavení.
            </p>
            <div class="row text-center">
                <a href="/katalog.pdf" class="button blue"><span class="download">Katalog interiérových studií</span></a>
            </div>
        </div>
    </section>


    <%- include('partials/_footer') -%>
    <%- include('partials/_remodal') -%>

</div>

</body>

</html>
