.stickyBtn{
    width: 88px;
    height: 88px;
    background: #ed404e;
    border-radius: 44px;
    align-items: center;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    transition: width 0.5s ease;
}
.stickyBtn:hover{
    width: 220px;
    background: #ff5d5e;
}
.stickyBtn:active{
    background: #ed404e;
    -webkit-box-shadow: inset 0px 6px 15px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 6px 15px 0px rgba(0,0,0,0.4);
    box-shadow: inset 0px 6px 15px 0px rgba(0,0,0,0.4);
}
.stickyBtn span{
    opacity: 0;
    pointer-events: none;
    padding-right: 20px;
    visibility: hidden;
    transition: visibility 0.3s ease 1s;
    min-width: 140px;
}
.stickyBtn img{
    position: relative;
    width: 50px;
    height: 50px;
    right: 18px;
}
.stickyBtn:hover span{
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}
@media (max-width: 450px) {
    .stickyBtn{
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }
    .stickyBtn img{
        width: 40px;
        right: 10px;
    }
}

/* Menu initial */

.header-white-text header nav .menu .sub-ul{
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}
.header-white-text header nav .menu .menu-li-has-sub:hover .sub-ul{
    visibility: visible;
    pointer-events: all;
    width: 150px;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.25);
    padding: 0.5em .2em;
}

.header-white-text header nav .menu .sub-ul a{
    color: white;
    -webkit-transition: all 550ms;
    -moz-transition: all 550ms;
    -ms-transition: all 550ms;
    -o-transition: all 550ms;
    transition: all 550ms;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    font-weight: normal;
    position: relative;
}

.header-white-text header nav .menu .sub-ul a:before{
    opacity: 0;
    display: block;
    height: 3px;
    width: 100%;
    -webkit-transition: all 550ms;
    -moz-transition: all 550ms;
    -ms-transition: all 550ms;
    -o-transition: all 550ms;
    transition: all 550ms;
    position: absolute;
    bottom: 3px;
    content: "";
    background: #818181;
    background: linear-gradient(90deg, #818181 0%, rgba(51, 51, 51, 0.90239846) 100%);
}
.header-white-text header nav .menu .sub-ul a:hover:before{
    opacity: 1;
}
@media (max-width: 1150px){
    .header-white-text header nav .menu .sub-ul a{
        font-size: 14px;
    }
}
@media (max-width: 1020px){
    .header-white-text header nav .menu .sub-ul{
        width: 100%;
        padding: 0 0 0 0 !important;
        margin: 0 0 !important;
        display: block;
        color: #818181;
        background: #fff;
        visibility: visible;
        pointer-events: all;
    }
    .header-white-text header nav .menu .menu-li-has-sub:hover .sub-ul{
        width: 100%;
        background: #fff!important;
    }
    .header-white-text header nav .menu .sub-ul a{
        width: 100%;
        display: block;
        border-bottom: 1px solid #e2e1e1;
        padding: 17px 20px 15px 20px;
        height: auto;
        line-height: normal;
        margin: 0 0;
        text-align: left;
        color: #818181!important;
    }
    .header-white-text header nav .menu .sub-ul a:hover{
        background: #e2e1e1!important;
    }
    .header-white-text header nav .menu .sub-ul a:hover:before{
        opacity:0!important;
    }
}
/* menu scrolled */
.header-white-text header.small nav .menu .sub-ul {
    background: rgba(255,255,255,0.8)!important;
}
.header-white-text header.small nav .menu .sub-ul a {
    color: #818181;
}

/* temporary slide */
.newHead{
    font-size:50px!important;
    /* text-decoration: underline;
    text-underline-position: under; */
}
.newHeadButton{
    margin-top: 10em;
    background: #ed404e!important;
    color: #ddd!important;
}
.newHeadButton:hover{
    color: #fff!important;
}
@media (max-width: 1020px){
    .newHead{
        font-size: 35px!important;
    }
    .newHeadButton{
        margin-top: 2em;
    }
}
@media (max-width: 767px){
    .newHead{
        font-size: 23px!important;
    }
}

.section-intro .video-container{
    filter: brightness(85%);
    -webkit-filter: brightness(85%);
    -moz-filter: brightness(85%);
}

.section-pricelist table tr th:nth-child(6){
    min-width: 95px;
}

.offer-ribbon{
    display:none!important;
}