.section-intro{
    width: 100%;
    min-height: 1%;
    position: relative;
    padding: 0 0 !important;
    text-align: center;
}
.new-slider-intro .slide-1{
    background: url('./test-home/images/gres-day.jpg') center center/cover;
    height:100vh;
}
.new-slider-intro .slide-2{
    background: url('./test-home/images/loznice.jpg') center center/cover;
    height:100vh;
}
.new-slider-intro .slide-3{
    background: url('./test-home/images/pokoj.jpg') center center/cover;
    height:100vh;
}
.new-slider-intro h4{
    color:white;
    font-weight: bold;
    margin-bottom:0;
    position:relative;
    clear:both;
    font-size:100px;
    margin-top: 15vh;
    text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}
.new-slider-intro h5{
    color:white;
    font-weight: normal;
    margin-bottom:0;
    position:relative;
    clear:both;
    font-size:30px;
    text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}
.new-slider-intro .slick-dots{
    position: relative;
    top:-20px;
}
.new-slider-intro .slick-dots li button{
    background: #fff;
}
.new-slider-intro .new-ctas{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    top:10em;
}
.new-slider-intro .new-ctas a{
    margin: 0 1em;
    min-width: 300px;
}
@media (max-width: 1020px){
    .section-intro, .new-slider-intro .slide-1, .new-slider-intro .slide-2, .new-slider-intro .slide-3{
        height: calc(100vh - 82px);
    }
    .new-slider-intro h4{
        font-size: 60px !important;
    }
    .new-slider-intro h5{
        font-size: 24px !important;
    }
    .new-slider-intro .new-ctas{
        top: 5em;
    }
}
@media (max-width: 767px){
    .new-slider-intro h4{
        font-size: 40px !important;
    }
    .new-slider-intro h5{
        font-size: 18px !important;
    }
    .new-slider-intro .new-ctas a{
        margin: 0 0.5em;
        min-width: 160px;
    }
}
.new-slider-1 .slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
